@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

header{
	border-bottom: 1px solid #333;
}

.main{
	width: 80%;
	height: auto;
	margin: auto;
}

.title{
	width: 50%;
	height: auto;
	margin: auto;
	padding: 10px 0;
}

.title span{
	color: #612595;
	margin: 0 5px 0 0;
}

.clock{
	width: 50%;
	height: auto;
	margin: auto;
	border: 5px solid #333;
}

.time{
	width: 100%;
	height: auto;
	font-size: 75px;
	text-align: right;
}