@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

header{
	border-bottom: 1px solid #333;
}

ul{
	list-style: none;
}

.main{
	width: 80%;
	height: auto;
	margin: auto;
}

.tabbox{
	width: 50%;
	height: auto;
	margin: auto;
}

.title{
	width: 50%;
	height: auto;
	margin: auto;
	padding: 10px 0;
}

.title span{
	color: #612595;
	margin: 0 5px 0 0;
}

.tab li{
	width: 20%;
	height: 53px;
	display: table-cell;
	background: #FEE1B8;
	border: 1px solid #333;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.tab li.active{
	background: #FEDA31;
}

.image{
	width: 100%;
	height: auto;
}

.image img{
	width: 100%;
	height: auto;
}