@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

header{
	border-bottom: 1px solid #333;
}

.main{
	width: 80%;
	height: auto;
	margin: auto;
}

.title{
	width: 75%;
	height: auto;
	margin: auto;
	padding: 10px 0;
}

.title span{
	color: #612595;
	margin: 0 5px 0 0;
}

.boxs{
	width: 75%;
	height: 100%;
	margin: 10px auto 0;
}

.css_box{
	width: 300px;
	height: 300px;
	background: #FDA476;
	display: inline-block;
	transition: width 0.3s ease, height 0.3s ease;
}

.css_box p{
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 45%;
}

.css_box:hover{
	width: 450px;
	height: 450px;
}

.js_box{
	width: 300px;
	height: 300px;
	background: #FDA476;
	display: inline-block;
	transition: width 0.3s ease, height 0.3s ease;
}

.js_box p{
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 45%;
}

.size_up{
	width: 450px;
	height: 450px;
}