@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

header{
	border-bottom: 1px solid #333;
}

ul{
	list-style: none;
}

.main{
	width: 80%;
	height: auto;
	margin: auto;
}

.upload{
	width: 300px;
	height: 300px;
	background: #FEE1B8;
	margin: auto;
}

.upload p{
	text-align: center;
	padding: 40% 0;
}

.file{
	width: 50%;
	height: auto;
	margin: auto;
	text-align: center;
}

.title{
	width: 50%;
	height: auto;
	margin: auto;
	padding: 10px 0;
}

.title span{
	color: #612595;
	margin: 0 5px 0 0;
}