@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}

.main{
	width: 80%;
	height: auto;
	margin: auto;
}

header{
	border-bottom: 1px solid #333;
}

.title{
	width: 50%;
	height: auto;
	margin: auto;
	padding: 10px 0;
}

.title span{
	color: #612595;
	margin: 0 5px 0 0;
}

#modalPanel{
	background: #FFF;
	width: 700px;
	height: 350px;
	position: relative;
	left: 20%;
	z-index: 3;
	display: none;
}

.article{
	width: 100%;
	height: auto;
	margin: auto;
}

.header{
	width: 100%;
	height: 40px;
	background-color: #000080;
	color: #FFF;
	text-align: center;
	padding: 2% 0 0 0;
}

.header span{
	width: 10px;
	float: right;
	margin: 0 2%;
	cursor: pointer;
}

.header span::after{
	content: '';
	float: none;
}

.content{
	width: 50%;
	height: auto;
	margin: auto;
}

#default{
	width: 100%;
	height: 150px;
}

.color li{
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 1px solid #333;
}

.default,.red{
	background-color: #FC101B;
}

.yellow{
	background-color: #FFFD38;
}

.green{
	background-color: #29FD2E;
}

.purple{
	background-color: #FD28FC;
}

.blue{
	background-color: #0F24FB;
}

.blackout{
	width: 100%;
	height: 100%;
	top: 0;
	position: absolute;
	background-color: rgb(51,51,51);
	z-index: 2;
	opacity: 0.9;
	display: none;
}